.Preview {
  justify-content: space-between;
  min-height: 779px;
  box-sizing: border-box;
  padding: 60px var(--common-padding);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background: var(--primary);
  > section {
    width: 624px;
  }
  h1 {
    margin: 0 0 32px 0;
    color: white;
  }
  P {
    color: #ffffff;
    opacity: 0.6;
    margin-bottom: 53px;
  }

  img {
    margin: auto;
    padding-top: 64px;
    max-width: 523px;
    width: 80%;
  }
}
